:root {
    --light-grey: #D9D9D9;
    --blue: #364AFF;
    --dark-grey: #171717;
    --pink: #CB36FF;
}
* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: var(--dark-grey);
    color: var(--pink);
}
/*navbar*/
nav {
    position: fixed;
    top: 3%;
    right: 3%;
    width: 35vw;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}
a {
    text-decoration: none;
}
#git-icon {
    height: 2.5rem;
    width: 2.5rem;
}
.nav-links {
    color: var(--pink);
}
.nav-links:hover {
    color: var(--light-grey);
}
/*UI Elements*/
.ui-left {
    position: fixed;
    bottom: 3%;
    left: 3%;
}
.ui-right {
    position: fixed;
    bottom: 3%;
    right: 3%;
}
.ui-left svg,
.ui-right svg {
    width: 3rem;
    height: 3rem;
}
/*Up Down Controls*/
.up-button svg,
.down-button svg {
    color: var(--pink);
    height: 6rem;
    width: 6rem;
}
.up-button {
    position: relative;
    top: 0;
}
.down-button {
    position: relative;
    bottom: 0;
}
.up-button svg:hover,
.down-button svg:hover,
.ui-left svg:hover,
.ui-right svg:hover {
    color: var(--light-grey);
    cursor: pointer;
}
.up-button svg:active,
.down-button svg:active {
    color: var(--light-grey);
    position: relative;
    top: 4px;
    left: 4px;
}
/*About Me, Why Dev*/
.section-layout {
    height: 100vh;
    width: 60vw;
    margin: auto;
    display: flex;
    align-items: center;
}
.outer-container {
    height: 60vh;
}
.container {
    display: flex;
    width: 100%;
    height: 60vh;
    flex-direction: column;
    justify-content: space-evenly;
}
#hero {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.5;
}
#about-me h2,
#why-dev h2,
#project-links h2 {
    font-size: 2rem;
    font-weight: bold;
}
#about-me p,
#why-dev p {
    font-size: 1rem;
    line-height: 1.75;
}
.inner-content {
    display: flex;
}
#img-div {
    height: 300px;
    width: 250px;
    margin-left: 5%;
    align-self: center;
    overflow: hide;
}
img {
    max-height: 100%;
    object-fit: contain;
}
/*Frame controls*/
.frame {
    border-top: 5px solid var(--pink);
    border-right: 10px solid var(--pink);
    border-bottom: 10px solid var(--pink);
    border-left: 5px solid var(--pink);
    border-radius: 8px;
}
.frame:hover {
    border-color: var(--light-grey);
    cursor: pointer;
}
.frame:active {
    position: relative;
    top: 4px;
    left: 4px;
    border: 10px solid var(--light-grey);
    cursor: pointer;
}
/*Project Links*/
#card-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5%;
}
.card {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.card button {
    width: 100%;
    height: 15vh;
    margin-bottom: 10%;
    background-color: var(--dark-grey);
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px;
    color: var(--pink);
}
.card button:hover {
    color: var(--light-grey);
    background-color: #0D0D0D;
    cursor: pointer;
}
.card button:active {
    color: var(--light-grey);
    background-color: #000000;
    cursor: pointer;
}
.card p {
    font-size: 0.8rem;
    line-height: 1.5;
}